<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Airlines</title>
    <link rel="stylesheet" th:href="@{/css/allDataStyle.css}">
</head>
<body>
<div class="container">
    <h1>List of All Airlines</h1>
    <table class="data-table">
        <thead>
        <tr>
            <th>AirlineID</th>
            <th>AirlineName</th>
            <th>Alias</th>
            <th>IATA</th>
            <th>ICAO</th>
            <th>callsign</th>
            <th>country</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="airline : ${airlines}">
            <td th:text="${airline.airlineID}"></td>
            <td th:text="${airline.airlineName}"></td>
            <td th:text="${airline.alias}"></td>
            <td th:text="${airline.IATA}"></td>
            <td th:text="${airline.ICAO}"></td>
            <td th:text="${airline.callsign}"></td>
            <td th:text="${airline.country}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
